@using KI_25.Controllers
@model Products


<body>
    <div class="container">
        <div class="osnova">
            <div>
                @Model.Picture
            </div>
            <div class="product-info">
                <h1>@Model.Name</h1>
                <h1>@Model.Cost</h1>
                <button>Купить</button>
                <a href="/home/catalog">Продолжить покупки</a>
            </div>
        </div>
        <h1>Описание</h1>
        <div class="jj">
            <p>@Model.Description</p>
        </div>
        <h1>Характеристика</h1>
        <div class="jj">
            <p>@Model.Specifications</p>
        </div>
        <h1>Доставка и оплата</h1>
        <div class="jj">
        </div>
    </div>
</body>